body {
    padding: 10px 0 0 20px;
    font-family: monospace;
}

ul {
    margin: 0em;
}

.pos_abs {
    position: absolute;
}

.types {
    padding: 10px 30px;
    border: 1px dotted;
    margin-right: 20px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

.control {
    margin-top: 20px;
    margin-right: 70px;
}
